.button {
	margin: 10px;
}

.table {
	width: 100%;
	height: 100%;
}

.table-bordered td {
 border: 5px solid #EEEDDD;
}

.number {
	color: '#fdffea';
	font-size: '2.3rem';
}

.board {
	margin: auto;
	text-align: center;
}
