@media all and (max-width: $break-point) {
	.cell {
		height: 20vw;
		width: 20vw;
	}
}

body {
	background-color: #fdffea;
}

.color-1 {
	background-color: #303030;
}

.color-2 {
	background-color: #2196f3;
}

.color-4 {
	background-color: #4caf50;
}

.color-8 {
	background-color: #9c27b0;
}

.color-16 {
	background-color: #ff5252;
}

.color-32 {
	background-color: #e91e63;
}

.color-64 {
	background-color: #cddc39;
}

.color-128 {
	background-color: #3f51b5;
}

.color-256 {
	background-color: #ff9800;
}

.color-512 {
	background-color: #673ab7;
}

.color-1024 {
	background-color: #009688;
}

.color-2048 {
	background-color: #03a9f4;
}

.color-4096 {
	background-color: #ffeb3b;
}
